body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #004080, #8297a6);
    color: #ecf0f1;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden; /* Remove scrollbars */
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color:rgb(16 16 16);
    color: #6492b4;
    height: 10vh;
}

header .logo img {
    width: 20%;
    height: auto;
    margin-right: 20px;
}

@font-face {
    font-family: 'Eurostile';
    src: url('fonts/eurostile.ttf') format('truetype');
}

header h1 {
    font-family: 'Eurostile', sans-serif;
    font-size: 2em;
    margin: 0;
}

main {
    padding: 20px;
    background-color: #2c3e50;
    text-align: center;
    flex: 1;
}

footer {
    padding: 10px;
    background-color: #34495e;
    text-align: center;
    color: #ecf0f1;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.landing-image {
    width: 40%;
    height: auto;
    margin-right: 20px;
    z-index: 10;
}

.landing-text {
    background-color:rgb(16 16 16);
    color: #ffffff; /* White text */
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}